<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/stylesheet.css">

</head>
<body>
    <header>
        <div>
            <a href="#"><img src="../static/images/logo-new.png" alt="logo"></a>
        </div>    
        
    </header>
    <main>
        <section>
            <h1>ALUNOS MATRICULADOS</h1>
            <div id=links>
                <a href="/create" id='add'>+ Adicionar aluno</a>
                <form class='busca' method="POST" action="/find" autocomplete="off" >
                    <input type="text" id="txtBusca" name='texto' value='{{item}}' required>
                    <a href="{{url_for('index')}}">{{X}}</a>    
                    <button type="submit" id=buscar><img src="../static/images/magnifying-glass-search.svg" id='imgBusca' alt="lupa"></button>
                </form> 
            </div>

            <table>
                <thead>
                    <tr>
                        <th>RA</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Logradouro</th>
                        <th>Numero</th>
                        <th>Cep</th>
                        <th>Complemento</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in alunos %}
                    <tr>
                        <td>{{a.ra}}</td>
                        <td>{{a.nome}}</td>
                        <td>{{a.email}}</td>
                        <td>{{a.logradouro}}</td>
                        <td>{{a.numero}}</td>
                        <td>{{a.cep}}</td>
                        <td>{{a.complemento}}</td>
                        <td><a href="update/{{a.ra}}">Editar</a></td>
                        <td><a href="delete/{{a.ra}}" id=excluir>Excluir</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <script>

        </script>
    </main>
</body>
</html>